<ion-side-menus enable-menu-with-back-views="true" class="signup_background" ng-controller="menuCtrl">
    <ion-side-menu-content>

        <!--<ion-nav-view name="fabContent"></ion-nav-view>-->
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded">
		
            <span class="avatar" style="background: url('assets/img/icc.png'); background-size: cover; float:left;" ></span>
			
			<div style="padding-top:3%;"align="center" ng-show="actType() == 'P'">
            <h2><span  style="font-size:14px;padding-left:3%;text-align:center;" data-ng-bind="firstName()">{{firstName}}</span><span  style="font-size:14px;padding-left:3%;text-align:center;" data-ng-bind="lastName()">{{lastName}}</span></h2>
			</div>
            <div style="padding-top:3%;"align="center" ng-show="actType() == 'F'">
                <h2><span  style="font-size:14px;padding-left:3%;text-align:center;" data-ng-bind="patientName()"></span></h2>
            </div>
			
        </ion-header-bar>


        <ion-content class="stable-bg has-expanded-header" id="sidemenu_background">

            <div class="item item-icon-left" ng-show="actType() == 'F'"  style="width:100%; display: inline-block;border:1px solid #5f6a6d; z-index: 1000;">
               <!-- <span class="" style="display:inline-block;color: #ffffff;float:left;width:30%;" data-ng-bind="firstName()" ></span> <span calss="item" style="display:inline-block;color: #ffffff;float:left;width:30%;padding-right:4%;text-align: left;" data-ng-bind="lastName()" ></span>
 -->               <p style="color: #ffffff;">  <span ng-bind="firstName()"></span> <span ng-bind="lastName()"></span>  </p>
                <i class="icon ion-person" style="color:white;"></i>


            </div>
           <!-- <div style="padding-top:3%;"align="center" ng-show="actType() == 'F'">
                <h2><span  style="font-size:14px;padding-left:3%;text-align:center;" data-ng-bind="firstName()">{{firstName}}</span><span  style="font-size:14px;padding-left:3%;text-align:center;" data-ng-bind="lastName()">{{lastName}}</span></h2>
            </div>
-->
            <ion-list>
			<ion-item  class="item item-icon-left" nav-clear menu-close ng-click="home()"  id="menu_list" style=" border-top-color:transparent; color:white;font-weight:400;">
			<i class="icon ion-android-home"></i>
                    Home
                </ion-item>
                <!-- <ion-item   class="item item-icon-left" nav-clear menu-close ui-sref="app.Talk to the Specialist" style="font-weight:200;border:1px solid #d4d4d4;">
				<i class="icon ion-ios-telephone"></i>
                   Talk to the Specialist
                </ion-item> -->
                
                
                <ion-item   class="item item-icon-left" nav-clear  menu-close ui-sref="app.profile" id="menu_list" style=" border-top-color:transparent; color:white;font-weight:400;" >
				<i class="icon ion-person"></i>
                  View Profile
                </ion-item>
            <ion-item class="item item-icon-left"  nav-clear  ng-click="CallTel(16783839973)" id="menu_list" style=" border-top-color:transparent; color:white;font-weight:400;">
			<i class="icon ion-android-call"></i>
                    Call On Call Support

                </ion-item>
				 <ion-item class="item item-icon-left"  nav-clear menu-close ui-sref="app.content" style=" border-top-color:transparent; color:white;font-weight:400;" id="menu_list">
			 <i class="icon ion-ios-paper"></i>
                   Arcturus Info

                </ion-item>
				<ion-item class="item item-icon-left" menu-close ng-click="HospiceQualifications()"  nav-clear style=" border-top-color:transparent; color:white;font-weight:400;" id="menu_list">
			 <i class="icon ion-ios-paper"></i>
                   Hospice Qualifications

                </ion-item>
				<ion-item class="item item-icon-left"  menu-close ng-click="ConsentForms()"  nav-clear  style=" border-top-color:transparent; color:white;font-weight:400;" id="menu_list">
			 <i class="icon ion-ios-paper"></i>
                  Consent Forms


                </ion-item>
				<ion-item class="item item-icon-left"  nav-clear menu-close ng-click="PatientsRights()" style=" border-top-color:transparent; color:white;font-weight:400;" id="menu_list">
			 <i class="icon ion-ios-paper"></i>
                   Patients Rights

                </ion-item>
				<ion-item class="item item-icon-left"  nav-clear menu-close ng-click="feedbak()" id="menu_list" style=" border-top-color:transparent; color:white;font-weight:400;">
			<i class="icon ion-clipboard"></i>
                    Feedback

                </ion-item>
				<ion-item class="item item-icon-left"  nav-clear menu-close ng-click="help()" id="menu_list" style=" border-top-color:transparent; color:white;font-weight:400;">
			<i class="icon ion-help"></i>
                    Help

                </ion-item>

				<!-- <ion-item class="item item-icon-left"  nav-clear  id="menu_list" style="height:55px;"> -->
			<!-- <i class="icon ion-android-notifications"></i> -->
			<!-- <span>Notifications</span> -->
               <!-- <span style="float:right;"><label class="toggle"> -->
   <!-- <input type="checkbox"> -->
   <!-- <div class="track"> -->
     <!-- <div class="handle"></div> -->
   <!-- </div> -->
<!-- </label></span> -->

                <!-- </ion-item> -->


				<ion-item class="item item-icon-left"  nav-clear menu-close ng-click="logout()" id="menu_list" style=" border-top-color:transparent; color:white;font-weight:400;" >
				<i class="icon ion-power"></i>
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
		
    </ion-side-menu>
</ion-side-menus>
