<ion-view view-title="Arcturus Care"   ng-controller="passwordCtrl" class="signup_background">
    <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">


    </ion-nav-bar>
    <ion-content  ng-controller="passwordCtrl" >
         <div class="prof" id="banner_image">

          
</div>
<!--
<div style="padding-top:30%;">
</div>
-->

<form  role="form" name="PasswordForm" ng-submit="passwordCall(login)" novalidate>
		
         <div class="list2" id="banner_buttons_paddinglogin">
		<div class="row" id="login_textdiv">
  <div class="col col-100" id="head_style" >Enter your password</div>
  
</div>
			<div  id="signup_form_div"align="center">
          <label class="item item-input" placeholder="Enter Password" highlight-color="positive" type="text" style="padding:10px !important;" >
			<i class="fa fa-phone-square" aria-hidden="true" style="color:#737373; font-size:28px;"></i>
                &nbsp;&nbsp;<input type="password" placeholder="Enter Password" class="md-input" name="Password" ng-model="login.password" maxlength="12" required>
          </label>
                 <!--<div style="color:#ff6666;font-size:14px;float:left;padding-left:10%;">
                     <input type='checkbox' ng-model='chckStatus' ng-click='rememberMe(login,chckStatus)' > Remember me
                 </div>-->
		  <span id="errormsg" ng-show=" submitted || PasswordForm.Password.$dirty && PasswordForm.Password.$invalid ">
             <span ng-show="PasswordForm.$submitted && PasswordForm.Password.$error.required ">Password is required</span>
                  
            </span>
                <!--<span  style="color:#ff6666;font-size:14px;float:left;padding-left:10%;"> {{passwordError}} </span>-->
                <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-top-full-width'}"></toaster-container>
            </div>
        </div>

        <div class="padding">
            <button  class="button button-full" ng-click="submitted=true"  id="login_button">Login</button>
        </div>

		 <!--<div align="center">
            <span style="color:#ff6666;font-size:20px;"> {{passwordError}} </span> </div>-->
</form>

        <div align="right">
            <button class="button button-clear"  ng-click="forgotPassword()" style="color: #FFFFFF; font-size: 12px;">
                Forgot Password ?
            </button>
        </div>
       

    </ion-content>

</ion-view>
