<ion-view view-title="Arcturus Care" align-title="center" class="signup_background">
    <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">


    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-a "  ui-sref="app.login">
        </button>
    </ion-nav-buttons>
    <ion-content ng-controller="resetPasswordCtr" >
        <!-- <div class="prof" id="banner_image">  -->


        <!-- </div> -->
        <!-- <div style="padding:5%;" ui-sref="app.login"> -->
        <!-- <i class="fa fa-chevron-circle-left" aria-hidden="true" style="font-size:30px;color:#8CA83E;" ui-sref="app.login"></i> -->
        <!-- </div> -->
		<div style="padding-top:30%;">
		</div>

        <form role="form" name="ResetForm" ng-submit="updatePassword(password)" novalidate>


            <div class="list2" id="banner_buttons_paddinglogin1">
                <div class="row" id="login_textdiv">
                    <div class="col col-100" id="head_style"  >Reset Password</div>

                </div>


                <div  id="signup_form_div1"align="center">


                    <label class="item item-input" placeholder="Enter password" highlight-color="positive" type="text" style="padding:10px !important;" >
                        <i class="fa fa-key" aria-hidden="true" style="color:#848484; font-size:26px;"></i>
                        &nbsp;&nbsp;<input type="password" placeholder="Enter password" class="md-input"  name="password" ng-model="password.password" maxlength="12" required>
                    </label>
             <span id="errormsg" ng-show="submitted || ResetForm.password.$dirty && ResetForm.password.$invalid">
             <span ng-show="ResetForm.$submitted && ResetForm.password.$error.required">Password is required</span>
            </span>


                    <label class="item item-input" placeholder="Confirm password" highlight-color="positive" type="text" style="padding:10px !important;" >
                        <i class="fa fa-key" aria-hidden="true" style="color:#848484; font-size:26px;"></i>
                        &nbsp;&nbsp;<input type="password" placeholder="Confirm password" class="md-input"  name="password_c" ng-model="password.password_c" nx-equal-ex="password.password" maxlength="20" required>
                    </label>
             <span id="errormsg" ng-show="submitted ||  ResetForm.password_c.$dirty && ResetForm.password_c.$invalid">
                  <span ng-show="ResetForm.$submitted &&  ResetForm.password_c.$error.required  " >Confirm password is required</span>
                 <!--<span ng-show="SignUpForm.password_c.$error.nxEqualEx && SignUpForm.password_c.$touched"> Password Do Not Match</span>-->
              </span>

                </div>

            </div>

            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-top-full-width'}"></toaster-container>

            <div class="padding">
                <button name="Submit"  class="button button-full" ng-click="submitted=true" id="login_button" >Update</button>
            </div>
        </form>

        <div align="center">
            <span style="color:red;"> {{errorMsg}} </span> </div>
    </ion-content>
</ion-view>

