<ion-view view-title="Arcturus Care" class="signup_background">
    <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">


    </ion-nav-bar>
 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-menu" menu-toggle="left">
        </button>
    </ion-nav-buttons>
	<!-- <ion-nav-buttons side="right"> -->
        <!-- <button class="button button-icon button-clear ion-android-notifications" menu-toggle="right" ui-sref="app.notifications"> -->
        <!-- </button> -->
    <!-- </ion-nav-buttons> -->
<ion-content >
<div style="padding:4%;">
  </div>
<div id="Feedback_paddingdiv">
 <div class="row" id="login_textdiv2">
  <div class="col col-100" id="head_style"  >Arcturus Info</div>
  
</div>
<div class="Profile_background">
    <h5 style="color:#808080;padding:5%;white-space:pre-line;">{{HomeContentText}}</h5>
	</div>
	</div>
</ion-content>
 </ion-view>