

<ion-view view-title="Arcturus Care" style=" font-size: x-large;"  class="signup_background">
    <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">


    </ion-nav-bar>
    <!--<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-menu" menu-toggle="left">
        </button>
    </ion-nav-buttons>-->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-a "  ui-sref="app.login">
        </button>
    </ion-nav-buttons>

    <ion-content ng-class="{expanded:$scope.isExpanded}">




        <div style="padding:4%;">
        </div>
        <div id="Feedback_paddingdiv">
            <div class="row" id="login_textdiv2">
                <div class="col col-100" id="head_style">Arcturus Care Help</div>

            </div>
            <div class="Profile_background">
                <div class="item-text-wrap">
                    <!-- <h4 id="Help_question">HOW TO LOGIN ?</h4>
                       <h5  id="Help_text">1. Enter phone number to login and then you will redirected to password screen.</h5>
                       <h5 id="Help_text1">(i) After entering password you will be redirected to home screen.</h5>

                       <h4 id="Help_question">HOW TO REGISTER ?</h4>
                       <h5 id="Help_text">1. Enter phone number to register and then you will redirected to passcode screen, the passcode will be sent to your mobile.</h5>
                       <h5 id="Help_text1">(i) After entering passcode, you will be redirected to registration page.</h5>
                       <h5 id="Help_text1">(ii) After registration, you will be redirected to home screen.</h5>
                       <h4 id="Help_question">HOW TO UPDATE PROFILE ?</h4>
                       <h5 id="Help_text"> Click on side menu and click on View Profile. Edit your information and click on UPDATE.</h5>
                       <h4 id="Help_question">HOW TO GIVE FEEDBACK ?</h4>
                       <h5 id="Help_text"> Click on side menu and click on Feedback, enter your feedback and click on SUBMIT.</h5>
                       <h4 id="Help_question">HOW TO MAKE A CALL ?</h4>
                       <h5 id="Help_text"> Click on  CALL button in home screen at the bottom right corner or click on side menu and click Call On Call Support.</h5>
                       <h4 id="Help_question">ABOUT US</h4>
                       <h5 id="Help_text"> To know about us, click on side menu and click on Arcturus Info.</h5>   -->




                    <button class="accordion">How to login ?</button>
                    <div class="panel">
                        <p>
                        <h5  id="Help_text">Enter phone number to login and then you will redirected to password screen.</h5>
                        <h5 id="Help_text">After entering password you will be redirected to home screen.</h5>
                        </p>
                    </div>

                    <button class="accordion">How to register ?</button>
                    <div class="panel">
                        <p>
                        <h5 id="Help_text">Enter phone number to register and then you will redirected to passcode screen, the passcode will be sent to your mobile.</h5>
                        <h5 id="Help_text">After entering passcode, you will be redirected to registration page.</h5>
                        <h5 id="Help_text">After registration, you will be redirected to home screen.</h5>
                        </p>
                    </div>


                    <button class="accordion">How to update profile ?</button>
                    <div class="panel">
                        <p>
                        <h5 id="Help_text"> Click on side menu and click on View Profile. Edit your information and click on UPDATE.</h5>

                        </p>
                    </div>

                    <button class="accordion">How to give feedback ?</button>
                    <div class="panel">
                        <p>
                        <h5 id="Help_text"> Click on side menu and click on Feedback, enter your feedback and click on SUBMIT.</h5>

                        </p>
                    </div>

                    <button class="accordion">How to make a call ?</button>
                    <div class="panel">
                        <p>
                        <h5 id="Help_text"> Click on  Call button in home screen at the bottom right corner or click on side menu and click call on call support.</h5>

                        </p>
                    </div>
					<button class="accordion">Version</button>
                   <div class="panel">
                    <p> 
                  <h5 id="Help_text"> Version 1.2.0</h5>
	
               </p>
             </div>

                </div>
            </div>
        </div>
    </ion-content>
    <div class="float-button">
      <span class="height-fix">  
      <button id="fab-profile" ui-sref="app.jobAdd" class="button button-fab button-fab-bottom-right fab-fixed button-assertive pane" ng-click="CallTel(16783839973)" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
          <i class="ion-ios-telephone"></i>
          <h5 style="color:white">Call Us</h5>

      </button>
 </span>
    </div>

</ion-view>
